{{ form_start(form,{'attr': {'class': 'height-vh-full'}}) }}
<div class="d-flex flex-column justify-content-between height-25">
    <div>
        <div class="mb-4">
            <div class="input-group">
                <span class="input-group-text bgDark colorWhite"><i class="fa-solid fa-magnifying-glass"></i></span>
                {{ form_widget(form.crypto,{'attr' : { 'class' : 'bgDark colorWhite borderLeftNull form-control-custom'}}) }}
            </div>
            {{ form_errors(form.crypto) }}
        </div>
        <div class="mb-4">
            <div class="input-group ">
                <span class="input-group-text bgDark colorWhite"><i class="fa-solid fa-coins"></i></span>
                {{ form_widget(form.quantity,{'attr' : { 'class' : 'bgDark colorWhite borderLeftNull form-control-custom'}}) }}
            </div>
            {{ form_errors(form.quantity) }}
        </div>
        <div class="mb-4">
            <div class="input-group ">
                <span class="input-group-text bgDark colorWhite" style="padding-right: 18px !important;"><i class="fa-solid fa-euro-sign"></i></span>
                {{ form_widget(form.price,{'attr' : { 'class' : 'bgDark colorWhite borderLeftNull form-control-custom'}}) }}
            </div>
            {{ form_errors(form.price) }}
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center pt-5">
        <button class=" btn text-black btn-dark bgColorGrey btnCustom">{{ button_label|default('AJOUTER') }}</button>
    </div>
</div>

{{ form_end(form) }}
